* {
  box-sizing: border-box;
  margin: 0;
}

html {
  background: #e5e5e5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-size: cover;
  background-position: center center;
  color: white;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeIn 3s ease-in-out;
  animation-delay: 500ms;
}

.hidden {
  display: none;
}

input {
  background: none;
  border: none;
  text-align: center;
  color: white;
  font-size: 20px;
  border-bottom: 2px solid white;
  padding: 10px;
}

input::placeholder {
  color: white;
  opacity: 0.5;
}

input:active,
input:focus {
  outline: none;
}

/* Weather */

#weather {
  position: absolute;
  width: 100px;
  height: 70px;
  top: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  border: 2px solid white;
}

/* Main */

#main-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 200px;
  height: 50%;
  overflow: hidden;
}

/* Clock */

#clock {
  font-size: 10em;
  font-weight: 600;
  margin-bottom: 50px;
}

/* To-do */

#todo-form {
  margin-bottom: 20px;
}

#todo-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 75%;
  margin: auto;
}

#todo-list > li {
  margin-bottom: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

#todo-list > li > button {
  background: none;
  padding-top: 3px;
  border: none;
  cursor: pointer;
  font-size: 10px;
  transition: opacity 300ms ease-in-out;
}

#todo-list > li > button:hover {
  opacity: 0.5;
}

/* Login & Greeting */

#login-input {
  font-size: 30px;
  margin-bottom: 50px;
}

#greeting {
  font-size: 40px;
  margin-bottom: 50px;
  font-weight: 500;
}

/* Lyrics */

#lyrics {
  position: absolute;
  bottom: 0;
  margin: 15px;
  padding: 20px;
  text-align: center;
  opacity: 0.5;
  width: 500px;
  border-radius: 20px;
  transition: opacity 800ms ease-in-out, transform 400ms ease-in-out,
    background-color 800ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

#lyrics:hover {
  opacity: 1;
  transform: translateY(-5px);
  background-color: rgba(0, 0, 0, 0.5);
}

#words {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 15px;
}

/* Background Change */

#background-change {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 15px;
  padding-bottom: 10px;
  cursor: pointer;
}

/* Location */

#location {
  position: absolute;
  padding: 15px;
  left: 0;
  bottom: 0;
  opacity: 0.75;
}
